.form form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.form div {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.form label {
  color: #989898;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 5px;
  @media screen and (min-width: 1490px) {
    font-size: 14px;
  }
}

.form input {
  border-radius: 8px;
  border: 0.5px solid #dadada;
  background: #fff;
  height: 48px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  color: #1b1b1b;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  @media screen and (min-width: 1490px) {
    margin-top: 9px;
    height: 56px;
  }
}

.showPassword{
  position: absolute;
  right: 2px;
  bottom: 10px;
  cursor: pointer;
}

.passInfo {
  color: #666;
  font-family: Plus Jakarta Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 14px */
  margin-top: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 1490px) {
    margin-bottom: 50px;
  }
}

.continueBtn {
  border-radius: 8px;
  background: #0077b5;
  width: 100%;
  height: 50px;
  color: #fff;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  cursor: pointer;
  @media screen and (min-width: 1490px) {
    height: 56px;
  }
}
