@font-face {
    font-family: "Soliel";
    src: url("/fonts/SolielRegular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
  .main {
    background-color: #fafbff;
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .body {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 54px 4px rgba(0, 0, 0, 0.05);
    width: 75%;
    min-height: 82vh;
    max-height: max-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @media screen and (max-width: 1490px) {
        min-height: 78vh;
      }
  }
  
  .body button {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    color: #b3b3b3;
    background: transparent;
    font-size: 28px;
    border: none;
    margin-bottom: 30px;
    cursor: pointer;
  }
  
  .successText h5 {
    color: #221f20;
    font-family: Plus Jakarta Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
    @media screen and (max-width: 1490px) {
        font-size: 32px;
      }
  }
  
  .successText p {
    color: #8f97a7;
    text-align: center;
    font-family: "Soliel", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media screen and (max-width: 1490px) {
        font-size: 14px;
      }
  }
  
  .successText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  


  


  

  .trackBtn button{
    color: #fff;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: #0077b5;
    width: 220px;
    height: 56px;
    cursor: pointer;
    @media screen and (max-width: 1490px) {
        height: 48px;
        margin-top: 20px;
        margin-bottom: 0;
      }
  }
  
  .trackBtn{
    display: flex;
    justify-content: center;
  }
  
  .progressDiv{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
  
  }

  .successImage{
    width: 200px;
    height: 240px;
    @media screen and (max-width: 1490px) {
        width: 160px;
        height: 200px;
      }
  }
  
  
  
  